.work-container {
    margin: "1rem";
    padding: "1rem";
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
}
.border-gradient-purple {
    border-image-source: linear-gradient(to left, #0d52bd, #d53a9d);
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.page-title {
    color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-style: solid;
    background-color: "#000";
}
.page-alternate {
    color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
.center-div {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
