.home-text {
    color: #ffffff;
    margin-left: 5rem;
    height: 100%;
}
Col {
    color: #ffffff;
}

.main-container {
    margin-top: 5rem;
    margin-right: 5rem;
    padding-right: 5rem;
    /* background-image: url(../../assets/camera.png); */
    /* background-position: center; */
    /* height: 800px; */
    /* background-size: cover; */
    /* width: 90%; */
}
.main-container h1 {
    font-size: 3rem;
}
.portfolio-button {
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    color: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
}
.border-gradient-purple {
    border-image-source: linear-gradient(to left, #0d52bd, #d53a9d);
}
.camera-background {
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    background-size: 600px 300px;
}

@media only screen and (max-width: 950px) {
    .camera-background {
        background-size: 0px 0px;
    }
}
